body{
    text-align: center;
}
.main{ 
    top:0;
    width:100%;
    font-family: arial,sans-serif;    
}
.topnav{
    float: right;
}
.navtext {
    color:rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-family: Arial, sans-serif;
    line-height: 40px;
    font-size: 13px;
    margin-left: 10px;

    
    
  }
.logo{
   margin-top:47px;
   padding-top:109px;
   height:auto;
}
.inputContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.searchglass{
    
    width:550px;
    cursor: pointer;
    
}
/*.fa-search{
    padding-right:13px;
    padding-bottom:5px;
    margin-top:-5px;
    margin-right:0px;
    position:absolute;
    padding: 15px;
    background-position:left;
    display:inline-block;
    color: #9aa0a6;
    outline:none;
    background-color:transparent;
    align-items:left;
}*/
.Searchbar{
   
   width: 550px;
   position: relative;
   border-radius: 50px;
   height: 44px;
   background: white;
   word-wrap: break-word;
   display: flex;
   font-size: 16px;
   font-family: Arial, sans-serif;
   line-height: 34px !important;
   outline: none;
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/vprojectold-icons-ning-33_2.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=600&s=bd59aa2973eb9bae08166b4dca56417a);
   background-repeat: no-repeat;
   background-size: 30px 30px;
   background-position: 20px;
   border: 1px solid rgba(197, 197, 197, 0.5);
   text-align: left;
   text-indent: 55px;
}
.Searchbar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    cursor: text;
}
.button{
    color:white;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    background: -moz-linear-gradient(top,#4387fd, #4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 8px;
    background-color: #4285f4;
    cursor: pointer;
}
.buttons{
    background-color: #f2f2f2;
    border:1px solid;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    margin:10px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;  
    border-style: none;
    cursor:pointer;
}
.languages{
    font-size:small;
    bottom:500px;
}
footer{
    position:fixed;
    bottom: 0;
    left:0;
    font-size: 10pt;
    background-color: #f2f2f2;
    min-width: 400px;
    line-height: 40px;
    width: 100%;
}
.footerinside{
    text-align: left;
    color: rgba(0,0,0,.54);;
    padding-left: 27px;
    position: relative;
    padding:10px;
    border-top:1px solid rgba(197,197,197,0.5);
    
    
}
.text{
    
    color: #5f6368;
    font-family: arial,sans-serif;
    line-height: 40px;
    font-size: 14px;
    margin-left: 30px; 
    }
#pts{
    float: right;
    margin-right: 30px;
    word-spacing: 30px;
    color: #5f6368;
    font-family: arial,sans-serif;
    line-height: 40px;
    font-size: 14px;
}